[commit]
	# I use a custom template when writing my commit messages.
	# This reminds me of all info that needs to be present
	# in a good commit message.
    template = ~/.gitmessage
[core]
	# Store line endings internally as LF but convert to
	# CRLF when inside the working directory.
	autocrlf = true
